/* Header */
.header {
  /* padding-block: 24px;
  display: flex; */


  padding-block: var(--spacing-6);
  padding-inline: var(--spacing-8);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background: var(--background);
}

.header__subtitles {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-6);
}

.header>* {
  display: inline-block;
}

.header__logo {
  margin: 0;
  margin-right: 64px;

  color: var(--primary);
  font-family: var(--display);
  font-size: var(--font-3xl);
  font-weight: 500;
  line-height: 1;
  /* 100% */
}

.header__logo a {
  text-decoration: none;
  color: inherit;
}

.header__logo a:hover {
  color: var(--primary-hover);
}