/* Hero */

.hero {
  background-color: var(--muted);
}

.hero__content {
  max-width: var(--width-2xl);

  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);

  >img{
      width: 100%;
    height: auto;
    border-radius: var(--rounded-2xl);
    overflow: hidden;

    animation: aparecer_left_right 1000ms cubic-bezier(0.34, 1.56, 0.64, 1);
  }
}
@media (min-width:641px){
  .hero__content{
      flex-direction: row;
       max-width: 100%;
  }
 
}
/* .hero__left{
  gap: var(--spacing-10);
} */
.hero__title {
  margin-top: 0;
  margin-bottom: 24px;

  color: var(--foreground);
  font-family: var(--display);
  font-size: var(--font-6xl);
  font-weight: 600;
  line-height: 1;
  /* 100% */

  animation: rotacion_titulos 1s linear;
}

.hero__lead {
  margin-block: 24px;

  font-size: var(--font-xl);
  line-height: var(--leading-8);
  color: var(--muted-foreground);
}

.hero__link {
  color: var(--primary);
  font-size: var(--font-sm);
  font-weight: 500;
  line-height: var(--leading-6);
  text-decoration: none;
}

.hero__link:hover {
  color: var(--primary-hover);
  text-decoration: underline;
}

.hero--center {
  text-align: center;
  margin-inline: auto;
}

.hero__buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: var(--spacing-4);
  flex-wrap: wrap;
}

.hero__buttons>* {
  display: flex;
  align-items: center;
  gap: 8px;
}